SUPABASE_URL=https://blxznupihdwonyzlcetx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJseHpudXBpaGR3b255emxjZXR4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjM3NjI5OCwiZXhwIjoyMDg3OTUyMjk4fQ.xnx74EQDqNteItXwbKiYPZB50yK77pUkJq_HG0E7ZiM
RESEND_API_KEY=re_EzmZ5taD_JnfQfj9fZTJQUcihgyzjoxdY
ADMIN_EMAIL=malikmuzammilarman@gmail.com
ADMIN_INITIAL_PASSWORD=
CLIENT_URL=http://localhost:5173
PORT=4000
